// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #3B7B9E;
  --ion-color-primary-rgb: 59, 123, 158;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #346D8B;
  --ion-color-primary-tint: #4F88A8;

  --ion-color-secondary: #1B3B5A;
  --ion-color-secondary-rgb: 27, 59, 90;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #18344F;
  --ion-color-secondary-tint: #324F6B;

  --ion-color-tertiary: #7FB5D1;
  --ion-color-tertiary-rgb: 127, 181, 209;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #70A0B8;
  --ion-color-tertiary-tint: #8CBDD6;
}
